########### Specifies intentionally untracked files to ignore ###########

### Gradle
.gradle/
build/

### IntelliJ IDEA
/.idea
*.iml
*.iws
captures/
.navigation/
local.properties
bin/
gen/
out/
*.apk
*.ap_

### Android
*.jks
*.dex

### Intellij


### Java
*.class
*.jar
hs_err_pid*

### Windows
Desktop.ini
Thumbs.db
ehthumbs.db

### OSX
.DS_Store

### Linux
*~
.fuse_hidden*
.directory
.Trash-*

### Logs
*.log